/* -----------------------------------------
   Font-face
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Anton);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);
@font-face {
  font-family: "yanone_kaffeesatzlight";
  src: url("../font/yanoneka/yanonekaffeesatz-light-webfont.eot");
  src: url("../font/yanoneka/yanonekaffeesatz-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/yanoneka/yanonekaffeesatz-light-webfont.woff2") format("woff2"), url("../font/yanoneka/yanonekaffeesatz-light-webfont.woff") format("woff"), url("../font/yanoneka/yanonekaffeesatz-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "couturebold";
  src: url("../font/couture/couture-bld-webfont.eot");
  src: url("../font/couture/couture-bld-webfont.eot?#iefix") format("embedded-opentype"), url("../font/couture/couture-bld-webfont.woff2") format("woff2"), url("../font/couture/couture-bld-webfont.woff") format("woff"), url("../font/couture/couture-bld-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* -----------------------------------------
   Font-face
----------------------------------------- */
@font-face {
  font-family: "yanone_kaffeesatzlight";
  src: url("../font/yanoneka/yanonekaffeesatz-light-webfont.eot");
  src: url("../font/yanoneka/yanonekaffeesatz-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/yanoneka/yanonekaffeesatz-light-webfont.woff2") format("woff2"), url("../font/yanoneka/yanonekaffeesatz-light-webfont.woff") format("woff"), url("../font/yanoneka/yanonekaffeesatz-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "couturebold";
  src: url("../font/couture/couture-bld-webfont.eot");
  src: url("../font/couture/couture-bld-webfont.eot?#iefix") format("embedded-opentype"), url("../font/couture/couture-bld-webfont.woff2") format("woff2"), url("../font/couture/couture-bld-webfont.woff") format("woff"), url("../font/couture/couture-bld-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  body {
    font-size: 18px;
  }
}

.grapper {
  width: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 6em;
  line-height: 20px;
  color: #333;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  h1 {
    font-size: 3em;
    line-height: 56px;
  }
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 4em;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  h2 {
    font-size: 2em;
    letter-spacing: 2px;
  }
}

h3 {
  margin: 0 !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a.menu {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  line-height: 30px;
  position: fixed;
  z-index: 300;
  top: 20px;
  right: 20px;
  display: block;
  height: 30px;
  padding: 0 5px;
  color: #111;
  background: #fff;
}

.menuWrap {
  position: fixed;
  z-index: 310;
  left: 0;
  width: 100%;
  height: 100%;
  top: -100%;
  background: #003843;
}
.menuWrap .menuClose {
  position: absolute;
  top: 20px;
  right: 20px;
}
.menuWrap ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10%;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .menuWrap ul {
    margin-top: 50%;
  }
}
.menuWrap ul li {
  float: left;
  width: 100%;
  text-align: center;
  list-style: none;
}
.menuWrap ul li a {
  font-family: "Anton", sans-serif;
  font-size: 4em;
  line-height: 70px;
  width: 100%;
  text-align: center;
  display: block;
  float: left;
  margin-left: 0;
  color: #fff;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .menuWrap ul li a {
    font-size: 2em;
    line-height: 50px;
  }
}
.menuWrap ul li a:hover {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #18a7b8 !important;
}

.head {
  width: 100%;
  min-height: 800px;
  position: relative;
  float: left;
  background: url("../img_general/01.jpg") 70% 0 no-repeat fixed;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .head {
    min-height: 500px;
    background: url("../img_general/01_adap.jpg") 0 0 no-repeat fixed;
    background-size: 100%;
  }
}
.head .name {
  float: left;
  width: auto;
  padding: 6%;
}
.head .name h2 {
  font-family: yanone_kaffeesatzlight !important;
  font-size: 3em !important;
  color: #18a7b8;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .head .name h2 {
    font-size: 26px !important;
  }
}

.aboutMe {
  width: 100%;
  min-height: 800px;
  position: relative;
  float: left;
  padding: 6%;
  color: #fff;
  background: url("../img_general/02.jpg") no-repeat fixed;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .aboutMe {
    min-height: auto;
    padding: 20% 6%;
    margin-top: -50px;
  }
}

.iDo {
  width: 100%;
  min-height: 800px;
  position: relative;
  float: left;
  padding: 6%;
  z-index: 200;
  background: url("../img_general/03.jpg") no-repeat fixed;
  font-family: yanone_kaffeesatzlight !important;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .iDo {
    min-height: auto;
    padding: 20% 6%;
    margin-top: -50px;
    background: url("../img_general/03_adap.jpg") 0 0 no-repeat fixed;
    background-size: 100%;
  }
}
.iDo h3 {
  font-size: 2em;
}
.iDo h4 {
  font-size: 1.4em;
}

.services {
  width: 100%;
  min-height: 800px;
  position: relative;
  float: left;
  padding: 6%;
  background: url("../img_general/04.jpg") no-repeat fixed;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .services {
    min-height: auto;
    margin-top: -100px;
    background-size: 100%;
    background: url("../img_general/04_adap.jpg") no-repeat fixed;
  }
}
.services .serviceItem {
  width: 100%;
  text-align: center;
}
.services .serviceItem p {
  font-size: 2em;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .services .serviceItem {
    width: 70%;
    margin-left: 15%;
  }
}
.services img {
  margin: 0 auto;
}

.portfolio {
  width: 100%;
  min-height: 800px;
  position: relative;
  float: left;
  padding: 6%;
  z-index: 200;
  color: #fff;
  background: #26D2E8 url("../img_general/05.jpg") no-repeat fixed;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .portfolio {
    min-height: auto;
    margin-top: 0;
    background: #086f80;
  }
}
.portfolio .portfolioMin {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .portfolio .portfolioMin {
    width: 100%;
  }
}
.portfolio .portfolioMin .thum a {
  background: #fff;
  display: block;
}
.portfolio .portfolioMin img {
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.portfolio .portfolioMin img:hover {
  -webkit-transform: scale(1.06);
  /* Chrome - Safari */
  -moz-transform: scale(1.06);
  /* Firefox */
  -ms-transform: scale(1.06);
  /* IE9 */
  -o-transform: scale(1.06);
  /* Opera */
  transform: scale(1.06);
  opacity: 0.3;
}

.contactUs {
  width: 100%;
  min-height: 900px;
  position: relative;
  float: left;
  padding: 6%;
  background: url("../img_general/06.jpg") no-repeat fixed;
}
.contactUs h2 {
  color: #111;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .contactUs {
    color: #EDEDED;
    background: url("../img_general/06_adap.jpg") 0 0 no-repeat scroll;
    background-size: 100%;
    min-height: 400px;
    padding-top: 100px;
  }
  .contactUs p {
    color: #111;
  }
}
.contactUs .phone {
  font-size: 2em;
  line-height: 24px;
  font-family: yanone_kaffeesatzlight !important;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .contactUs .phone {
    font-size: 1.3em;
    font-weight: bold;
  }
}
.contactUs .icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  float: left;
  display: block;
  background: url("../img_general/wapp.png");
}
#iDo, #container1, #aboutMe, #services {
  position: relative;
  float: left;
}

.rights {
  font-size: 12px;
  margin-top: 30px;
}
@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .rights {
    font-size: 11px;
  }
}

.portfolioFull {
  height: auto;
  padding: 50px 0;
  text-align: center;
  float: left;
  width: 100%;
  position: relative;
  background: #F4F4F4;
  color: #111;
  display: none;
}
.portfolioFull img {
  margin: 0 auto;
  display: none;
}
.portfolioFull h2 {
  color: #111;
  font-family: yanone_kaffeesatzlight !important;
  margin-bottom: 20px;
}
.portfolioFull p {
  margin-bottom: 50px;
}
.portfolioFull a {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -20px;
  border-radius: 50%;
  background: #003843;
}
.portfolioFull a svg {
  margin-top: 9px;
}

.desc {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  .tipo {
    font-size: 22px;
  }
}

@media only screen and (min-width: 0) and (max-width:767px), only screen and (min-width: 768px) and (max-width:991px) {
  h2.name {
    padding-top: 20px !important;
  }
}

/*# sourceMappingURL=main.css.map */
