$media-xs: 'only screen and (min-width: 0) and (max-width:767px)' ;
$media-sm: 'only screen and (min-width: 768px) and (max-width:991px)' ;
$media-md: 'only screen and (min-width:  992px) and (max-width:1199px)';
$media-lg: 'only screen and (min-width:  1200px) ';
$media-print: 'print';