/* Error: expected ";".
 *   ,
 * 1 | @use "variables" !important;
 *   |                  ^
 *   '
 *   src\scss\supp_test.scss 1:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 1 \2502  @use "variables" !important;\d\a   \2502                   ^\a   \2575 \a   src\\scss\\supp_test.scss 1:18  root stylesheet';
}
